/* RESETEO ESTILOS */
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Arial Narrow Bold', sans-serif, Impact, ;
}

body {
    text-align: center;
}

.container {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto; /* Centra perfectamente el contenedor */
}

.container__layout {
    display: grid;

    /* Divide el espacio en fracciones de las columnas */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */

    /* grid-template-columns: calc(50% - 10px) calc(25% - 10px) calc(25% - 10px); */
    grid-template-columns: 1fr 1fr 1fr 1fr;

    /* Divide el espacio en fracciones de las filas */
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.layout__box {
    font-size: 20px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
}
 
.layout__box--peru {
    background-color: peru;
    color: white;

    /* Desde la columa que indiquemos hasta donde indiquemos amplia esa caja */
    grid-column-start: 1;
    grid-column-end: 3;
}

.layout__box--purple {
    background-color: purple;
    color: white;
}

.layout__box--pink {
    background-color: pink;
    color: white;
}

.layout__box--peach {
    background-color: peachpuff;
    color: white;
}

.layout__box--brown {
    background-color: brown;
    color: white;
}

.layout__box--salmon {
    background-color: salmon;
    color: white;
}

.layout__box--hotpink {
    background-color:hotpink;
    color: white;
}

.layout__box--turquoise {
    background-color:mediumturquoise;
    color: white;
}

.layout__box--lollipop {
    background-color:#F7638C;
    color: white;
    /* grid-row: 3 / 4; */
}

.layout__box--olive {
    background-color:olive;
    color: white;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}


/* RESETEAR LOS FLOAT */
/* Se aplica a los que no queremos que estén flotados */
.clearfix {
    float: none;
    clear: both;
}