@media (max-width: 1250px) { 
    /* Ajustar el contenedor principal para menos ancho */
    .header__wrap, .content__wrap, .footer__wrap {
        width: 96%;
    }

    .main__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .content__lateral{
        width: 96%;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .articles__box{
        width: 96%;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        justify-content: space-between;
    }

    .articles__title{
        margin-left: 10px;
        width: 1080px;
    }
}

@media (max-width: 1150px) {
    .articles__title{
        margin-left: 10px;
        width: 120%
    }

    .articles__box{
        width: 120%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-left: 20px;
    }
}

@media (max-width: 1095px) {
    .list__item {
        font-size: 25px;
        margin-left: 10px;
    }

    .content__cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .cards__card {
        width: 200px;
    }


    .articles__title{
        margin-left: 10px;
        width: 110%
    }

    .articles__box{
        width: 110%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-left: 20px;
    }

    .content__lateral{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1010px) {
    /* Cambiar a dos columnas en .content__cards */
    .articles__title{
        width: 100%
    }

    .articles__box{
        width: 100%;
    }

    .content__lateral{
        width: 90%;
        height: 50%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 920px) {
    /* Ajustar encabezado y espaciado en el menú */
    .header__menu {
        height: 60px;
    }

    .list__item {
        font-size: 25px;
        margin-left: 15px;
    }

    .articles__title{
        margin-left: 10px;
        width: 90%
    }

    .articles__box{
        width: 90%;
        gap: 0px;
        margin-left: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 890px) {
    /* Ajustar tamaño de banner y tarjetas */
    .content__banner h1 {
        width: 650px;
    }
    .content__cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 830px) {
    /* Convertir el menú a vertical y ajustar encabezado */
    .articles__title{
        width: 80%
    }

    .articles__box{
        width: 80%;
        margin-left: 20px;
        margin-right: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .content__lateral{
        width: 75%;
        height: 50%;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__title {
        font-size: 30px;
    }
}

@media (max-width: 745px) {
    /* Convertir el menú a vertical y ajustar encabezado */
    .articles__title{
        width: 70%
    }

    .articles__box{
        width: 70%;
    }

    .content__lateral{
        width: 65%;
        height: 50%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 660px) {
    /* Ajustes para móviles */
    .content__banner h1 {
        margin: 10px auto;
        width: 300px;
    }

    .articles__title{
        width: 65%
    }

    .articles__box{
        width: 65%;
    }

    .footer__title {
        font-size: 20px;
    }
}