// variables
$b: "body";
$color-fondo: #1d1d1d;
$color-fondo2: #a1a1a1;
$color-letra: #f1f1f1;

body{
    background-color: $color-fondo;
    color: $color-letra;

}

h1{
    color: $color-letra;
    background-color: $color-fondo2;
    width: 400px;
    height: 100px;
    
}

// Anidación
.caja {
    border: 1px solid $color-fondo2;
    margin: 0px auto;
    text-align: center;
    color: $color-letra;
    background-color: #353535;
    padding: 10px;

    h2 {
        color: rgb(188, 89, 212);
        font-size: 27px;
    }
}
